html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  background-color: white;
  line-height: 1.2em;
  background-color: white;
  letter-spacing: .02em;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

#site, #site>div {
  height: 100%;
  color: #666;
}
