html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

a {
  text-decoration: none;
}
