.wrap {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 700px;
}

.header {

}

.tabs-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabs {
  max-width: 80%;
  width: 300px;
}

.content {

}

.edit-area-all-textarea {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  box-sizing: border-box;
}

.edit-area-one-textarea {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  box-sizing: border-box;
}

.list-view-original {
  padding: 0.5em 0;
  color: #999;
}

.list-view-translated {
  padding: 0.5em 0;
  color: #666;
}
