.wrap {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 700px;
}

.textarea {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-family: inherit;
  color: #666;
  border-color: #bbb;
}

.submit-wrap {
  width: 100%;
  text-align: center;
}

.err {
  color: #f44336;
}
