.wrap {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 700px;
}

.textarea {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  box-sizing: border-box;
  color: #555;
  line-height: 1.2em;
  letter-spacing: .02em;
  border-radius: 2px;
  border: 1px #ccc solid;
  resize: vertical;
  font-size: 1.2em;
}

.textarea:focus {
  outline: 1px #dedede solid;
}

.navi-buttons {
  margin-top: 1.5em;
  position: relative;
  width: 100%;
}

.right-button {
  position: absolute;
  top: 0;
  right: 0;
}

.show-page {
  position: relative;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,0.8);
  line-height: 36px;
  height: 36px;
}

.left-button {
  position: absolute;
  top: 0;
  left: 0;
}

.original-sentence {
  padding: 1em 0;
}

.inline {
  display: inline-block;
}

.suggestion-header {
}

.suggestion-sentence {
  padding: 1em 0;
}

.chip {
  color: #333;
  font-size: 0.9em;
}

.word-link {
  color: #666;
}
